@model DF.VIP.AppService.Models.LoginItem
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header blue lighter bigger">
                <i class="ace-icon fa fa-coffee green"></i>
                请输入账号信息
            </h4>
            <div class="space-6"></div>
            @Html.ValidationSummary()
            <form action="/User/Signin" method="post">
                <fieldset>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(o => o.LoginPhone, new { @type = "tel", @class = "form-control", @placeholder = "手机号" })
                            @Html.ValidationMessageFor(o => o.LoginPhone)
                            <i class="ace-icon fa fa-mobile-phone"></i>
                        </span>
                    </label>
                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(o => o.Password, new { @type = "password", @class = "form-control", @placeholder = "密码" })
                            @Html.ValidationMessageFor(o => o.Password)
                            <i class="ace-icon fa fa-lock"></i>
                        </span>
                    </label>

                    <div class="space"></div>

                    <div class="clearfix">


                        <button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
                            <i class="ace-icon fa fa-key"></i>
                            <span class="bigger-110">登录</span>
                        </button>
                    </div>

                    <div class="space-4"></div>
                </fieldset>
            </form>


        </div><!-- /.widget-main -->

        <div class="toolbar clearfix">
            <div>
                <a href="@Url.Action("ForgetPassword")" class="forgot-password-link">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    忘记密码
                </a>
            </div>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.login-box -->



